# Visual Studio temporary files
.vs/

# Rider temporary files
.idea/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# .NET Core
*.dll
*.pdb
*.exe
*.cache
*.log
*.vscode
*.vs
*/bin/*
*/obj/*

# .NET Core dependencies
project.lock.json
project.fragment.lock.json
artifacts/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# GhostDoc plugin setting file
*.GhostDoc.xml

# Resharper files
_ReSharper*/
*.ReSharper*/

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# Installshield output folder
[Ee]xpress/

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish/

# Publish Web Output
*.Publish.xml
*.pubxml

# Publish Profile
*.pubxml

# SQL Server files
*.mdf
*.ldf

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings

# Microsoft Azure Web App publish settings. Comment the next line if you want to check them in to source control
# but Azure Web App publish settings contain sensitive information
PublishScripts/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config

# Windows Azure Build Output
csx/
*.build.csdef

# Windows Store app package directories and files
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/

# Others
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
node_modules/
orleans.codegen.cs

# RIA/Silverlight projects
Generated_Code/

# Backup & report files from converting an old project file
UpgradeLog*.XML
UpgradeLog*.htm

# Azure Stream Analytics local run output
ASALocalRun/

# MSBuild Binary and Structured Log
*.binlog

# NVidia Nsight GPU debugger configuration file
*.nvlog

# Visual Studio 2015/2017 cache/options directory
.vscode/
.vscode/
*.code-workspace

# Visual Studio Code auto-generated files
.vscode/

# Tye
.tye/
