<app-back-button></app-back-button>
<div class="logo ut-bar">
  <button mat-button color="primary" (click)="logout()">Log Out</button>
</div>
<div class="profile-container">
  <div *ngIf="userProfile" class="user-profile">
    <img *ngIf="userProfile.photoUrl" [src]="userProfile.photoUrl" alt="Profile Photo" class="profile-photo" />
    <h2>{{ userProfile.username }}</h2>
    <p>{{ userProfile.description }}</p>
  </div>
  <h2>Your Posts</h2>
  <div *ngIf="posts.length === 0">You have no posts.</div>
  <div *ngFor="let post of posts" class="post-card">
    <h3>{{ post.postTitle }}</h3>
    <p>{{ post.postDescription }}</p>
    <div class="post-actions">
      <button (click)="editPost(post)">Edit</button>
      <button (click)="deletePost(post.postId)">Delete</button>
    </div>
  </div>
</div>
