<div class="home-container">
  <img src="{{ profileIcon }}"
       alt="Profile"
       class="profile-icon"
       (click)="goToProfile()"
       title="Go to Profile" />
  <div style="display: flex; gap: 15px; margin-bottom: 30px;">
    <button class="add-post-button" (click)="addPost()">Add Post</button>
    <button class="add-post-button" (click)="addReservation()">Add Reservation</button>
  </div>

  <div class="posts">
    <div *ngFor="let post of posts" class="post">
      <h3>{{ post.postTitle }}</h3>
      <p>by {{ post.author?.username || 'Unknown' }}</p>
      <p>{{ post.postDescription }}</p>
      <div *ngIf="post.reservation">
        <p>Start: {{ post.reservation.StartTime | date:'short' }}</p>
        <p>End: {{ post.reservation.EndTime | date:'short' }}</p>
        <p>Field ID: {{ post.reservation.FieldId }}</p>
      </div>
      <div *ngIf="post.comments && post.comments.length > 0">
        <h4>Comments:</h4>
        <ul>
          <li *ngFor="let comment of post.comments">
            {{ comment.commentContent }} - by {{ comment.author?.username || 'Unknown' }}
          </li>
        </ul>
      </div>
      <button (click)="addComment(post)">Add Comment</button>
    </div>



  </div>
  <div class="reservations">
    <div *ngFor="let reservation of reservations" class="reservation">
      <h3>Rezervare</h3>
      <p>Autor: {{ reservation.authorId || 'Necunoscut' }}</p>
      <p>Start: {{ reservation.startTime | date:'short' }}</p>
      <p>End: {{ reservation.endTime | date:'short' }}</p>
      <p>Field ID: {{ reservation.fieldId }}</p>

      
    </div>
  </div>
</div>
